<h2> Create New Study Group </h2>
<div class = "col-md-4 col-md-offset-4">
<%= form_for @channel, html: { multipart: true } do |form| %>
  <div class="field">
    <%= form.label :name_of_study_group %><br />
   <%= form.text_field :name , :class => 'form-control'%> <br/>
</div>

     <div class="field">
    <%= form.label :Image %><br />

  <%= form.file_field :image %> <br/>
  </div>
  <div class="field">
    <%= form.label :Description %><br />
   <%= form.text_area :description , :class => 'form-control' %> <br/>
</div>
  <%= form.submit  "Create New Study Group" , :class => "btn btn-lg btn-success"%>
<% end %>
</div>