<%= form_for :feed , url: channel_feeds_path(:channel_id => params[:channel_id]) , html: { multipart: true } do |f| %>

<%= f.text_area :content ,  class: 'form-control' ,:style => "margin-top:10px;" %>
     <%= f.file_field :image %>

<%= f.submit "Post" , class: "btn btn-large btn-success pull-right" %>
<% end %>
<br/><br/>
<% @showfeeds.each do |feed| %>
<div class="media">
  <div class="media-left">
    <%= link_to user_path(feed.user) do %>
<%= image_tag feed.user.image.url(:thumb) %>
    <% end %>
  </div>
  <div class="media-body">
    <h5 class="media-heading"><%= feed.user.first_name %> posted :-</h5>
    <% if feed.image.url(:medium).to_s != "/images/medium/missing.png" %>
<%= image_tag feed.image.url(:medium) %> <br/>
<% end %>

<%= feed.content %>
  </div>
</div>
 <br/>
	<hr/>		
	<% end %>
</div>